

                     /*          🇵🇰          */


html, body
{
   width:                        100%;
   background-color:             black; 
}


body
{
   max-width:                    1050px;
   width:                        90%;
   margin:                       0 auto;
   font-family:                  "PT Sans";
   font-size:                    clamp(21px, 2.25vw, 24px);
   line-height:                  clamp(32px, 3.65vw, 40px);
   text-align:                   justify;
   color:                        #B9B9B9;
   hyphens:                      auto;
   hyphenate-limit-chars:        auto 3 5;   

   > header
   {
      height:                    clamp(235px, 125px, 265px);
      width:                     100%;
      padding:                   0;
      margin-bottom:             10px;
      background:                linear-gradient(to right, #162144 20%, 
                                                         #152758 30%, 
                                                         #440f3a 100%);

      h1
      {
         font-family:             Bitter, "Droid Serif";
         font-size:               clamp(40px, 5.5vw, 50px);
         text-align:              center;
         color:                   #AFAFAF;
         padding:                 35px 0 25px;
         margin:                  0; 

         > svg
         {
            width:                  100%;
            height:                 350px;
            background:             transparent;
         }
      }

      > nav
      {
         margin:                    0;
         padding:                   0;
         height:                    65px;
         width:                     100%; 
         overflow:                  hidden;
         border-bottom:             6px Solid;
         border-image:              linear-gradient(to right, #651B53 30%,
                                                            #1c3e7d 100%) 1;

         > li 
         {
            display:                inline-block;
            list-style:             none;
            height:                 100%;
            width:                  auto;

            > a
            {
               display:                   inline-block;
               color:                     rgba(77,166,255,.85);
               text-decoration:           none;
               padding:                   12px 22px 10px;
               height:                    100%;
               font-size:                 23px;
               font-weight:               bold;
               -webkit-font-smoothing:    none;
               background:                linear-gradient(to bottom, 
                                                         #0d4f64 15%,
                                                         #232C4E 70%); 
               
               &:hover, &:focus
               {
                  cursor:                 pointer;
                  outline:                none;
                  color:                  #ffff66;

                  background:             linear-gradient(to bottom,
                                                            #143a5c 25%,
                                                            #1c4b72 55%);
               }
            }
            
            &:last-child
            {
               width:                    75px;
               float:                    right;
               background:               linear-gradient(to bottom, 
                                                            #0d4f64 15%,
                                                            #232C4E 70%); 
               > a 
               {
                  padding:                0;
                  margin:                 0;
                  padding-top:            7px;
                  padding-left:           5px;
                  width:                  75px;
                  height:                 65px;
                  zoom:                   200%;

                  > svg
                  {
                     margin:              0;
                     padding:             0;
                     width:               75px;
                     height:              65px;
                  }

                  &:tooltip
                  {
                     font-size:              24px;
                     font-family:            "PT Sans";
                     padding:                6px 8px;
                  }
               }

               &:hover
               {
                  background-color:          Navy;
                  stroke:                    Yellow;
               }
            }
         }
      }
   }

   > main 
   {
      width:                    85%;
      margin:                   20px auto 50px;

      > article
      {
         > header
         {
            margin-bottom:             24px;
            border-bottom:             4px Solid #424242;

            > h1 
            {
               font-size:               clamp(27px, 2.85vw, 35px);
               line-height:             clamp(35px, 5vw, 58px);
               margin-bottom:           15px; 
               font-family:             Bitter, "Droid Serif";
               hyphens:                 auto;
               hyphenate-limit-chars:   auto 3 5;   

               font-size:               34px;
               line-height:             45px;

               > a
               {
                  text-decoration:        none;
                  color:                  #B9B9B9;   
               }
            }

            > byline
            {
               display:                 block;
               margin-bottom:           12px;

               > time:before
               {
                  content:              "On: ";
                  display:              inline-block;
                  margin-left:          20px;
               }

               > author:before
               {
                  content:              "By: ";
               }
            }
         }
      }
   }
}
   
   
   
